<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<title>Donating Platform</title>
	<link rel="shortcut icon" type="image/x-icon" href="./public/fav/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./public/css/ToDonatePage.css">
</head>
<body>
	<div class="Donating__header">
		<div class="container">
			<div class="row Donating__row-of-header">
				<div class="col-2">
					<a href="/" class="Donating__link">
						Dashboard
					</a>
				</div>
				<div class="col-2">
					<a href="./donate" class="Donating__link">
						Donate
					</a>
				</div>
			</div>
		</div>
	</div> 
	<div class="container">
		<div class="row Donating__main-row justify-content-center align-items-center">
			<div class="col-6">
				<h1 class="Donating__headline-of-page">Donate</h1>
				<form action="/postdonation" method="post" class="Donating__form">
					<label>
						Name
						<input name="name" type="text" class="Donating__input-name" required>
					</label>
					<label>
						Email
						<input name="email" type="email" class="Donating__input-email" pattern=".+@globex.com" required>
					</label>
					<label>
						Amount
						<input name="amount" type="number" class="Donating__input-amount" required>
					</label>
					<label>
						Message
						<input name="message" type="text" class="Donating__input-message">
					</label>
					<input type="submit" value="DONATE" class="Donating__input-btn">
				</form>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./public/js/script.js"></script>
</body>
</html>
